{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Servicios - Tech Solutions</title>
        <link rel="stylesheet" href="{% static 'css/clientes_form.css' %}" />
        <style>
            .error-message {
                color: red;
                font-size: 14px;
                margin-top: 5px;
            }
            .is-invalid {
                border-color: red;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <a href="/home">
                <img src="{% static 'img/icono_ts.png' %}" alt="IconoTS" class="icon" />
            </a>
            <h1>REGISTRO DE ACCIONES DE SERVICIOS</h1>
            <a href="{% url 'logout' %}">
                <img src="{% static 'img/logout_ts.png' %}" alt="LogoutTS" class="icon-right" />
            </a>
        </div>

        <div class="welcome-container">
            <p class="subtext">Favor de completar todos los campos</p>
        </div>

        <div class="formulario">
            <form id="miFormulario" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-container">
                    <button id="cancelarRegistro" type="button" class="cancelar">CANCELAR</button>
                    <button type="submit">REGISTRAR</button>
                </div>
            </form>
        </div>

        <!-- Modals -->
        <div class="modal" id="errorCostoModal">
            <div class="modal-content">
                <div class="top-bar">
                    <span
                        onclick="cerrarErrorCostoModal()"
                        class="close-button"
                        >&times;</span
                    >
                </div>
                <img
                    src="{% static 'img/error_ts.png' %}"
                    alt="ErrorTS"
                    style="width: 60px; height: 60px; margin-bottom: 1px"
                />
                <p
                    id="errorCostoModalMessage"
                    style="margin-bottom: 20px; font-size: 20px"
                ></p>
                <button
                    onclick="cerrarErrorCostoModal()"
                    style="margin-top: 10px; margin-right: 4%; margin-left: 4%"
                >
                    ACEPTAR
                </button>
            </div>
        </div>

        <div class="modal" id="advertenciaRegistroModal">
            <div class="modal-content">
                <div class="top-bar">
                    <span onclick="cerrarAdvertenciaRegistroModal()" class="close-button">&times;</span>
                </div>
                <img src="{% static 'img/advertencia_ts.png' %}" alt="AdvertenciaTS" style="width: 60px; height: 60px; margin-bottom: 1px" />
                <p id="advertenciaRegistroModalMessage" style="margin-bottom: 20px; font-size: 20px"></p>
                <button onclick="cerrarAdvertenciaRegistroModal()" style="margin-top: 10px; margin-right: 4%; margin-left: 4%">CANCELAR</button>
                <button id="confirmarAdvertenciaRegistroModal" style="margin-top: 10px; margin-right: 4%; margin-left: 4%">CONFIRMAR</button>
            </div>
        </div>

        <div class="modal" id="advertenciaCancelarRegistroModal">
            <div class="modal-content">
                <div class="top-bar">
                    <span onclick="cerrarAdvertenciaCancelarRegistroModal()" class="close-button">&times;</span>
                </div>
                <img src="{% static 'img/advertencia_ts.png' %}" alt="AdvertenciaTS" style="width: 60px; height: 60px; margin-bottom: 1px" />
                <p id="advertenciaCancelarRegistroModalMessage" style="margin-bottom: 20px; font-size: 20px"></p>
                <button onclick="cerrarAdvertenciaCancelarRegistroModal()" style="margin-top: 10px; margin-right: 4%; margin-left: 4%">CANCELAR</button>
                <button id="advertenciaCancelarRegistroConfirmado" style="margin-top: 10px; margin-right: 4%; margin-left: 4%">CONFIRMAR</button>
            </div>
        </div>

        <div class="modal" id="registroExitosoModal">
            <div class="modal-content">
                <div class="top-bar">
                    <span onclick="cerrarRegistroExitosoModal()" class="close-button">&times;</span>
                </div>
                <img src="{% static 'img/exito_ts.png' %}" alt="ExitoTS" style="width: 60px; height: 60px; margin-bottom: 1px" />
                <p id="registroExitosoModalMessage" style="margin-bottom: 20px; font-size: 20px"></p>
                <button onclick="cerrarRegistroExitosoModal()" style="margin-top: 10px; margin-right: 4%; margin-left: 4%">
                    ACEPTAR
                </button>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("miFormulario").addEventListener("submit", function (event) {
        event.preventDefault(); // Siempre preventDefault al principio para manejar manualmente el envío

        var costoInput = document.getElementById("id_costo");
        var costoValue = costoInput.value.trim();

        // Verificar si el campo de costo está vacío
        if (costoValue === '') {
            mostrarModal(
                "<strong>El costo es obligatorio y no puede estar vacío.</strong>",
                "errorCostoModal",
                "errorCostoModalMessage"
            );
        } else {
            // Si el costo no está vacío, preguntar si desea continuar con el registro
            mostrarModal(
                "<strong>Está a punto de registrar un empleado. ¿Desea continuar?</strong>",
                "advertenciaRegistroModal",
                "advertenciaRegistroModalMessage"
            );

            var confirmarAdvertenciaRegistroModalButton = document.getElementById("confirmarAdvertenciaRegistroModal");
            confirmarAdvertenciaRegistroModalButton.onclick = function () {
                cerrarAdvertenciaRegistroModal();
                document.getElementById("miFormulario").submit(); // Realiza el envío después de confirmar
            };
        }
    });

    var cancelarRegistroButton = document.getElementById("cancelarRegistro");
    cancelarRegistroButton.addEventListener("click", function () {
        mostrarModal(
            "<strong>Está a punto de cancelar esta operación. ¿Desea continuar?</strong>",
            "advertenciaCancelarRegistroModal",
            "advertenciaCancelarRegistroModalMessage"
        );
    });

    var advertenciaCancelarRegistroConfirmadoButton = document.getElementById("advertenciaCancelarRegistroConfirmado");
    advertenciaCancelarRegistroConfirmadoButton.addEventListener("click", function () {
        window.location.href = "/servicios";
    });
});

function mostrarModal(mensaje, modalId, mensajeModalId) {
    var modalMessage = document.getElementById(mensajeModalId);
    modalMessage.innerHTML = mensaje;
    document.getElementById(modalId).style.display = "flex";
}

function cerrarAdvertenciaRegistroModal() {
    document.getElementById("advertenciaRegistroModal").style.display = "none";
}

function cerrarAdvertenciaCancelarRegistroModal() {
    document.getElementById("advertenciaCancelarRegistroModal").style.display = "none";
}

function cerrarErrorCostoModal() {
    document.getElementById("errorCostoModal").style.display = "none";
}
        </script>
    </body>
</html>